<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kswgs.model.dao.ICommentDao">

    <!-- column对应数据库的命名，property对应实体类的命名-->
    <resultMap id="CommentAll" type="Comment">
        <id column="comment_id" property="comment_id"/>
        <result column="content" property="content"/>
        <result column="user_id" property="user_id"/>
        <result column="comment_time" property="comment_time"/>
        <result column="book_id" property="book_id"/>
        <association property="userDetailed" javaType="UserDetailed">
            <id column="detailed_id" property="id"/>
            <result column="user_id" property="user_id"/>
            <result column="gender" property="gender"/>
            <result column="point" property="point"/>
            <result column="birthday" property="birthday"/>
            <result column="registration_time" property="registration_time"/>
            <result column="image_path" property="image_path"/>
            <result column="activate" property="activate"/>
            <result column="activate_code" property="activate_code"/>
        </association>
    </resultMap>

    <insert id="insertCommentByUser" parameterType="Map">
        insert into t_Comment(comment_id, content, user_id, comment_time, book_id)
            value
            (#{comment_id}, #{content}, #{user_id}, #{comment_time}, #{book_id})
    </insert>

    <select id="selectCommentByBookId" resultMap="CommentAll">
        select c.comment_id,c.content,c.user_id,c.comment_time,c.book_id,u.image_path
        from t_comment c join t_user_detailed u
        where c.book_id = #{book_id} and c.user_id=u.user_id
        order by comment_time
    </select>

</mapper>