<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace用于与DAO层的接口类进行绑定,这样我们无需实现DAO层的接口
   类,其接口类就能够自动的找到相关的SQL语句进行绑定实现-->
<mapper namespace="kswgs.model.dao.IShoppingItemDao">
    <insert id="insertShoppongItem" parameterType="ShoppingItem">
        insert into t_shopping_item(shopping_id, book_id, user_id, time, point
        )
        VALUE
        (#{shopping_id}, #{book_id}, #{user_id}, #{time}, #{point})
    </insert>

    <select id="selectShoppingItemByUseIdAndBookId" parameterType="Map" resultType="ShoppingItem">
        select shopping_id,book_id,user_id,time,point
        from t_shopping_item
        where book_id = #{book_id}
          and user_id = #{user_id}
    </select>
</mapper>